.details {
    margin-top: 50px;
    @include gridBox("center", 2, 15px);

    .gallery-image {
        &:not(:nth-child(1)) {
            display: none;
        }

        img {
            @include imageCover();
        }
    }
}
.product {
    &-name {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    &-short {
        font-size: 17px;
        text-align: justify;
    }

    &-price {
        margin: 10px 0;
        font-size: 30px;
        color: $c-skyblue;

        &--discount {
            text-decoration: line-through;
            color: $c-red;
        }
    }

    &-out {
        background-color: $c-red;
        color: $c-white;
        padding: 10px;
        text-align: center;
        margin: 15px 0;
        width: 25%;
        border-radius: 5px;
    }

    &-quantity {
        margin: 20px 0;
        @include flexBox("flex-start");

        &-input {
            height: 50px;
            width: 60px;
            background-color: $c-b;
            color: $c-a;
            font-size: 20px;
            text-align: center;
            border-radius: 5px;
        }

        &-btn {
            @include btn();
            font-size: 40px;
            padding: 0 15px !important;
        }
    }

    &-specifications {
        margin-bottom: 50px;
        .tab {
            &-headers {
                @include flexBox();
                margin-bottom: 20px;

                &-link {
                    border: 2px solid $c-black;
                    color: $c-3;
                    font-size: 18px;
                    font-weight: 700;
                    padding: 10px;
                    margin: 15px 5px 0;
                    cursor: pointer;
                    transition: .2s ease-in-out;

                    &:hover {
                        background-color: $c-theme;
                        color: $c-white;
                    }

                    &.active {
                        background-color: $c-dark-blue;
                        color: $c-c;
                    }
                }
            }
        }
    }
}