.contact {
    padding: 40px 0;
    width: 100%;

    & > .wrapper {
        max-width: 50%;
        @include flexBox();
        flex-direction: column;
        margin: 0 auto;

        @media #{$r-max-m} {
            max-width: 100%;
        }
    }

    &-map {
        height: 500px!important;
        width: 100%!important;
        border-radius: 15px;
        border: 2px solid $c-theme;

        .leaflet-bottom {
            display: none;
        }
    }

    &-form {
        form {
            .label {
                display:inline-block;
                margin: 15px 0;
                font-weight: 700;
                font-size: 24px;
            }

            .rw {
                &-date-picker {
                    width: 100%;
                }
                &-calendar {

                    &-header {
                        background-color: $c-3;
                        color: $c-white;

                        button {
                            &:hover {
                                background-color: $c-theme;
                            }
                        }
                    }

                    &-head {
                        background-color: $c-theme;
                        color: $c-white;
                    }

                    &-body {
                        .rw-cell {
                            font-weight: 600;
                            &:hover {
                                background-color: $c-theme;
                                color: $c-white;
                            }

                            &.rw-state-selected {
                                background-color: $c-3;
                                border: none;
                                color: $c-white;
                            }

                            &.rw-state-disabled {
                                pointer-events: unset !important;
                            }

                            &.rw-cell-not-allowed {
                                color: $c-a;
                                background-color: $c-grayF3;

                                &:hover {
                                    cursor: not-allowed;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}