.post {
    padding: 70px 0 30px;

    & > .wrapper {
        display: flex;
        gap: 120px;
    }

    &-titles {
        flex: 1 1 48%;

        &-main {
            color: $c-theme;
            font-size: 56px;
            font-weight: 700;
            position: relative;
            margin-bottom: 30px;

            &::after {
                position: absolute;
                left: 0;
                bottom: -4px;
                height: 3px;
                width: 90px;
                content: "";
                background-color: $c-theme;
                border-radius: 3px;
            }
        }

        &-sub {
            font-size: 41px;
            font-weight: 700;
            line-height: 55px;
            color: $c-1;
        }
    }

    &-content {
        flex: 1 1 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        &-desc {
            font-size: 17px;
            font-weight: 400;
            color: $c-gray70;
            line-height: 28px;

            &:first-child {
                margin-bottom: 15px;
            }

            &:nth-child(2) {
                margin-bottom: 20px;
            }
        }

        &-link {
            font-size: 17px;
            font-weight: 400;
            line-height: 26px;
            color: $c-theme;

            i {
                color: $c-theme;
                font-size: 16px;
                transform: translate(5px, 1px);
            }
        }
    }
}
