.post {
    & > .wrapper {
        width: 100%;
        display: flex;
    }

    &-titles {
        &-main {
            color: $c-theme;
            font-size: 56px;
            font-weight: 700;
            position: relative;

            &::after {
                position: absolute;
                left: 0;
                bottom: -5px;
                height: 3px;
                width: 90px;
                content: "";
                background-color: $c-theme;
            }
        }

        &-sub {
            font-size: 41px;
            font-weight: 700;
            line-height: 55px;
            color: $c-1;
        }
    }

    &-content {
        &-desc {
            font-size: 17px;
            font-weight: 400;
            color: $c-gray70;
            line-height: 28px;

            &:first-child {
                margin-bottom: 15px;
            }
        }

        &-link {
            font-size: 17px;
            font-weight: 400;
            line-height: 26px;
            color: $c-theme;

            i {
                color: $c-theme;
                font-size: 20px;
                transform: translate(5px, 2px);
            }
        }
    }
}
