@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;700;900&display=swap");

@import "./base/variables.scss";
@import "./base/breakpoints.scss";
@import "./base/mixins.scss";
@import "./base/base.scss";

body {
    margin: 0;
    padding: 0;
    font-family: $main-font;
    overflow-x: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .navbar {
        padding: 25px 15px;
        background-color: $c-success;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .cart-link {
            position: relative;

            .cart-btn {
                padding: 10px;
                background-color: transparent;
                color: $c-white;
                font-size: 20px;
                cursor: pointer;
            }
            &-counter {
                background-color: $c-red;
                color: $c-white;
                border-radius: 50%;
                position: absolute;
                top: 0;
                right: 0;
                width: 25px;
                height: 25px;
                transform: translateX(40%);
                font-size: 13px;
                font-weight: 700;
                display: flex;
                align-items: center;
                justify-content: center;
                pointer-events: none;
            }
        }

        &-link {
            text-decoration: none;
            color: $c-white;
            font-size: 20px;
            font-weight: 400;
            padding: 10px 16px;
            border-radius: 8px;
            cursor: pointer;

            &.active {
                background-color: $c-white;
                color: $c-success;
            }
        }
    }

    .btn {
        @include btn();

        &:hover {
            background-color: $c-middleblue;
        }
    }

    .title {
        color: $c-middleblue;
        font-weight: 900;
        margin: 50px 0;
        text-decoration: underline;
        text-underline-offset: 12px;
    }

    .toggle-btn {
        margin-bottom: 30px;
    }

    .toggle-search {
        margin: 25px 0;
    }

    .box {
        border: 1px solid $c-black;
        padding: 20px;
        border-radius: 5px;
        background-color: $c-b;
        display: flex;
        align-items: center;

        .tasks-input {
            height: 50px;
            border-radius: 5px;
            font-size: 20px;
            padding: 0 15px;

            &:focus {
                background-color: $c-e;
                outline: 2px solid $c-middleblue;
            }
        }

        .btn {
            margin: 0 10px;
            font-size: 18px;
        }
    }

    .search {

        &-label {
            font-size: 24px;
            text-decoration: underline;
        }

        &-input {
            margin: 20px 0;
            background-color: $c-9;
            height: 50px;
            border-radius: 5px;
            font-size: 20px;
            padding: 0 15px;

            &::placeholder {
                color: $c-e;
            }

            &:focus {
                background-color: $c-e;
                outline: 2px solid $c-middleblue;
            }
        }
    }
    .todos-list {
        background-color: $c-c;
        border-radius: 5px;
        width: 30%;
        margin: 20px auto 0;
        padding: 20px;

        .row {
            margin: 6px 0;
            color: $c-3;
            border-bottom: 1px solid $c-black;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &.done {
                background-color: $c-theme;
                color: $c-white;
            }

            label {
                font-size: 20px;

                input {
                    margin-right: 10px;
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }
}