@import "./base/variables.scss";
@import "./base/mixins.scss";
@import "./base/base.scss";

html {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: $main-font;
    overflow-x: hidden;
    @include scrollbars(8px, $c-theme, $c-gray9B);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

main {
    padding-top: 125px;

    @media #{$r-max-xl3} {
        padding-top: 95px;
    }
}
