$r-min-xs: "(min-width: 420px)";
$r-min-s: "(min-width: 540px)";
$r-min-m: "(min-width: 768px)";
$r-min-l: "(min-width: 1024px)";
$r-min-xl: "(min-width: 1200px)";
$r-min-xl3: "(min-width: 1299px)";
$r-min-xxl: "(min-width: 1500px)";

$r-max-xs: "(max-width: 419px)";
$r-max-s: "(max-width: 539px)";
$r-max-m: "(max-width: 767px)";
$r-max-l: "(max-width: 1023px)";
$r-max-xl: "(max-width: 1199px)";
$r-max-xl3: "(max-width: 1299px)";
$r-max-xxl: "(max-width: 1499px)";

$main-font: 'Poppins', sans-serif;

$base-container: 1410px;
$wrapper: 1380px;

$base-padding: 15px;
$base-margin: 10px;
$base-radius: 5px;
$base-box-shadow: 1px 3px 5px rgba(0,0,0,.1);

$c-theme: #0856a2;
$c-darkblue: #3c108a;
$c-blue2: #004B94;
$c-purple: #3d348d;
$c-pink: #ff00cc;
$c-light-red: #ff3d55;
$c-grayD8: #d8d8d8;
$c-gray70: #707070;
$c-dark: #242424;
$c-gray3A: #3a3a3a;
$c-gray9B: #9b9b9b;

$c-warning: #c29b25;
$c-success: #117a4b;
$c-error: #b10101;
$c-info: #2874a6;

$c-facebook: #4267b2;
$c-instagram: #e1306c;
$c-discord: #5865f2;
$c-github: #967bb6;
$c-twitter: #1DA1F2;
$c-youtube: #FF0000;

$c-white: #fff;
$c-e: #eee;
$c-d: #ddd;
$c-c: #ccc;
$c-b: #bbb;
$c-a: #aaa;
$c-9: #999;
$c-8: #888;
$c-7: #777;
$c-6: #666;
$c-5: #555;
$c-4: #444;
$c-3: #333;
$c-2: #222;
$c-1: #111;
$c-black: #000;
